@charset "EUC-KR";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrap, .signUpForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signUpForm {
    margin-top: 5%;
  }
  .login, .signUp {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h2 {
    color: rgb(120,163,255);
    font-size: 1.5em;
  }

  .login_id,  .login_pw, .signUp_name,.signUp_id, .signUp_pw, .signUp_phone {
    margin-top: 20px;
    width: 80%;
  }

  .box {/*input*/
    width: 100%;
    height: 50px;
    border-radius: 0px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
  }
  
  .loginBtn, .signUpBtn {
    margin-top: 20px;
    width: 80%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 0px;
    background: rgb(62,118,240);
    color: white;
    font-size: 1.2em;
  }
  
  .pbox{
    width: 30%;
    height: 50px;
    border: 1px solid lightgray;
    outline: none;
    padding: 10px;
  }
